<div class="card  d-flex justify-content-center ">
    <div class="d-flex align-items-center justify-content-around flex-column">

    <input type="text" placeholder="Username" class="">
    <input type="password" placeholder="Password" class="">
    <input type="submit" value="LOGIN">
    <div>
        <span>Not Registered?</span>
        <span>CREATE AN ACCOUNT</span>
    </div>
    </div>
    <!-- <div class="col">
       <h1>dfjalfjalk</h1> 
    </div>
    <div class="col">
       <h1>dfjalfjalk</h1> 
    </div>
    <div class="col">
       <h1>dfjalfjalk</h1> 
    </div> -->
</div>