<%- include('../partials/header') %>
<div class="form-container">
  <h1>Add New Comment to <%= post.title %> !</h1>
  <form action="/posts/<%= post._id %>/comments " method="POST">
    <textarea
      name="comment[text]"
      placeholder="Comment"
      cols="30"
      rows="10"
    ></textarea>
    <button>Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>
