<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
    
<div id="landing" style="display: flex;align-items: center;justify-content: center;">
    <div style="display:flex;flex-direction:column; align-items: center;">
    <div>
       <svg width="571" height="148" viewBox="0 0 571 148" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo">
        <path d="M96.6004 44.4001C96.6004 56.0001 92.6004 65.6668 84.6004 73.4001C76.7337 81.0001 64.6671 84.8001 48.4004 84.8001H21.6004V143H3.40039V3.6001H48.4004C64.1337 3.6001 76.0671 7.4001 84.2004 15.0001C92.4671 22.6001 96.6004 32.4001 96.6004 44.4001ZM48.4004 69.8001C58.5337 69.8001 66.0004 67.6001 70.8004 63.2001C75.6004 58.8001 78.0004 52.5334 78.0004 44.4001C78.0004 27.2001 68.1337 18.6001 48.4004 18.6001H21.6004V69.8001H48.4004Z" stroke="black" stroke-width="6" mask="url(#path-1-outside-1)"/>
        <path d="M167.021 144.8C156.754 144.8 147.421 142.467 139.021 137.8C130.754 133.133 124.221 126.533 119.421 118C114.754 109.333 112.421 99.3334 112.421 88.0001C112.421 76.8001 114.821 66.9334 119.621 58.4001C124.554 49.7334 131.221 43.1334 139.621 38.6001C148.021 33.9334 157.421 31.6001 167.821 31.6001C178.221 31.6001 187.621 33.9334 196.021 38.6001C204.421 43.1334 211.021 49.6668 215.821 58.2001C220.754 66.7334 223.221 76.6668 223.221 88.0001C223.221 99.3334 220.687 109.333 215.621 118C210.687 126.533 203.954 133.133 195.421 137.8C186.887 142.467 177.421 144.8 167.021 144.8ZM167.021 128.8C173.554 128.8 179.687 127.267 185.421 124.2C191.154 121.133 195.754 116.533 199.221 110.4C202.821 104.267 204.621 96.8001 204.621 88.0001C204.621 79.2001 202.887 71.7334 199.421 65.6001C195.954 59.4668 191.421 54.9334 185.821 52.0001C180.221 48.9334 174.154 47.4001 167.621 47.4001C160.954 47.4001 154.821 48.9334 149.221 52.0001C143.754 54.9334 139.354 59.4668 136.021 65.6001C132.687 71.7334 131.021 79.2001 131.021 88.0001C131.021 96.9334 132.621 104.467 135.821 110.6C139.154 116.733 143.554 121.333 149.021 124.4C154.487 127.333 160.487 128.8 167.021 128.8Z" stroke="black" stroke-width="6" mask="url(#path-1-outside-1)"/>
        <path d="M285.95 144.8C277.55 144.8 270.017 143.4 263.35 140.6C256.684 137.667 251.417 133.667 247.55 128.6C243.684 123.4 241.55 117.467 241.15 110.8H259.95C260.484 116.267 263.017 120.733 267.55 124.2C272.217 127.667 278.284 129.4 285.75 129.4C292.684 129.4 298.15 127.867 302.15 124.8C306.15 121.733 308.15 117.867 308.15 113.2C308.15 108.4 306.017 104.867 301.75 102.6C297.484 100.2 290.884 97.8668 281.95 95.6001C273.817 93.4668 267.15 91.3334 261.95 89.2001C256.884 86.9334 252.484 83.6668 248.75 79.4001C245.15 75.0001 243.35 69.2668 243.35 62.2001C243.35 56.6001 245.017 51.4668 248.35 46.8001C251.684 42.1334 256.417 38.4668 262.55 35.8001C268.684 33.0001 275.684 31.6001 283.55 31.6001C295.684 31.6001 305.484 34.6668 312.95 40.8001C320.417 46.9334 324.417 55.3334 324.95 66.0001H306.75C306.35 60.2668 304.017 55.6668 299.75 52.2001C295.617 48.7334 290.017 47.0001 282.95 47.0001C276.417 47.0001 271.217 48.4001 267.35 51.2001C263.484 54.0001 261.55 57.6668 261.55 62.2001C261.55 65.8001 262.684 68.8001 264.95 71.2001C267.35 73.4668 270.284 75.3334 273.75 76.8001C277.35 78.1334 282.284 79.6668 288.55 81.4001C296.417 83.5334 302.817 85.6668 307.75 87.8001C312.684 89.8001 316.884 92.8668 320.35 97.0001C323.95 101.133 325.817 106.533 325.95 113.2C325.95 119.2 324.284 124.6 320.95 129.4C317.617 134.2 312.884 138 306.75 140.8C300.75 143.467 293.817 144.8 285.95 144.8Z" stroke="black" stroke-width="6" mask="url(#path-1-outside-1)"/>
        <path d="M373.843 48.4001V113C373.843 118.333 374.976 122.133 377.243 124.4C379.509 126.533 383.443 127.6 389.043 127.6H402.443V143H386.043C375.909 143 368.309 140.667 363.243 136C358.176 131.333 355.643 123.667 355.643 113V48.4001H341.443V33.4001H355.643V5.80009H373.843V33.4001H402.443V48.4001H373.843Z" stroke="black" stroke-width="6" mask="url(#path-1-outside-1)"/>
        <path d="M486.014 3.6001V143H467.814V3.6001H486.014Z" stroke="black" stroke-width="6" mask="url(#path-1-outside-1)"/>
        <path d="M539.233 48.4001V113C539.233 118.333 540.367 122.133 542.633 124.4C544.9 126.533 548.833 127.6 554.433 127.6H567.833V143H551.433C541.3 143 533.7 140.667 528.633 136C523.567 131.333 521.033 123.667 521.033 113V48.4001H506.833V33.4001H521.033V5.80009H539.233V33.4001H567.833V48.4001H539.233Z" stroke="black" stroke-width="6" mask="url(#path-1-outside-1)"/>
    </svg>


    </div>

    <p style="font-size: 50px;">Welcome to Post It!</p>
    <a href="/posts"><button type="button" class="btn btn-outline-secondary btn-lg">View All Posts </button></a>
    </div>

    

</div>

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/landing.js"></script>
</body>
</html>