<!-- <h1>Log In</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Log In</button>
</form>


 -->

<%- include('./partials/landingHeader') %>
   <div class="card  d-flex justify-content-center ">
    <form action="/login" method="POST" class="d-flex align-items-center justify-content-around flex-column">

    <input type="text" name="username" placeholder="Username" class="">
    <input type="password" name="password" class="">
    <input type="submit" value="LOG IN">
    <div>
        <span>Not Registered?</span>
        <span><a href="/register">CREATE AN ACCOUNT</a></span>
    </div>
    </form>
    <!-- <div class="col">
       <h1>dfjalfjalk</h1> 
    </div>
    <div class="col">
       <h1>dfjalfjalk</h1> 
    </div>
    <div class="col">
       <h1>dfjalfjalk</h1> 
    </div> -->
</div>
<%- include('./partials/landingFooter') %>