<!-- <h1>Sign up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign Up</button>
</form> -->



<%- include('./partials/landingHeader') %>
 <div class="card  d-flex justify-content-center ">
    <form action="/register" method="POST" class="d-flex align-items-center justify-content-around flex-column">

    <input type="text" name="username" placeholder="Username" class="">
    <input type="password" name="password" placeholder="Password" class="">
    <input type="submit" value="SIGN UP">
    <div>
        <span>Registered?</span>
        <span><a href="/login">LOG IN</a></span>
    </div>
    </form>
    <!-- <div class="col">
       <h1>dfjalfjalk</h1> 
    </div>
    <div class="col">
       <h1>dfjalfjalk</h1> 
    </div>
    <div class="col">
       <h1>dfjalfjalk</h1> 
    </div> -->
</div>
<%- include('./partials/landingFooter') %>